# --- OS Específicos ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# --- Frontend (React/Node) ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# --- Backend (.NET) ---
bin/
obj/
publish/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Base de Datos (SQLite) ---
*.db
*.db-shm
*.db-wal

# --- Docker ---
.dockerprod